<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>



	<servlet>
		<servlet-name>UtilisateurController</servlet-name>
		<servlet-class>controller.UtilisateurController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UtilisateurController</servlet-name>
		<url-pattern>/utilisateur</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdministrateurController</servlet-name>
		<servlet-class>controller.AdministrateurController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdministrateurController</servlet-name>
		<url-pattern>/administrateur</url-pattern>
	</servlet-mapping>

</web-app>